@model MovieStore.Models.User

@{
    ViewData [ "Title" ] = "Details";
}





<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Actors</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Movies</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        @*@{ IEnumerable<MovieStore.Models.User> users = _context.User.ToList; }

        @{
            ViewData [ "Title" ] = "Index";
        }

        <h1>Index</h1>

        <p>
            <a asp-action="Register">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor( model => model.UserName )
                    </th>
                    <th>
                        @Html.DisplayNameFor( model => model.Password )
                    </th>
                    <th>
                        @Html.DisplayNameFor( model => model.Email )
                    </th>
                    <th>
                        @Html.DisplayNameFor( model => model.FirstName )
                    </th>
                    <th>
                        @Html.DisplayNameFor( model => model.LastName )
                    </th>
                    <th>
                        @Html.DisplayNameFor( model => model.Address )
                    </th>
                    <th>
                        @Html.DisplayNameFor( model => model.Type )
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach ( var item in Model )
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor( modelItem => item.UserName )
                        </td>
                        <td>
                            @Html.DisplayFor( modelItem => item.Password )
                        </td>
                        <td>
                            @Html.DisplayFor( modelItem => item.Email )
                        </td>
                        <td>
                            @Html.DisplayFor( modelItem => item.FirstName )
                        </td>
                        <td>
                            @Html.DisplayFor( modelItem => item.LastName )
                        </td>
                        <td>
                            @Html.DisplayFor( modelItem => item.Address )
                        </td>
                        <td>
                            @Html.DisplayFor( modelItem => item.Type )
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>*@
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
</div>


@*<h1>Details</h1>

    <div>
        <h4>User</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor( model => model.UserName )
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor( model => model.UserName )
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor( model => model.Password )
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor( model => model.Password )
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor( model => model.Email )
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor( model => model.Email )
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor( model => model.FirstName )
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor( model => model.FirstName )
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor( model => model.LastName )
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor( model => model.LastName )
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor( model => model.Address )
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor( model => model.Address )
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor( model => model.Type )
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
