@using MovieStore.Models;
@model dynamic

@{
    ViewData [ "Title" ] = "Dashboard";
    Layout = "_Layout2";

}
<link rel="stylesheet" href="~/css/Dashboard/accordion.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/Dashboard/tabs.css">

<div class="w3-container">
    <h2>Dashboard</h2>

    <div class="w3-row">
        <a href="javascript:void(0)" onclick="openCity(event, 'Users');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Users</div>
        </a>
        <a href="javascript:void(0)" onclick="openCity(event, 'Movies');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Movies</div>
        </a>
        <a href="javascript:void(0)" onclick="openCity(event, 'Actors');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Actors</div>
        </a>
    </div>

    <div id="Users" class="w3-container city" style="display:none">
        <h2>Users</h2>
        @foreach ( User user in Model.users )
            {
            <button class="accordion">@user.UserName</button>
            <div class="panel">
                <p>

                    <ul class="list-group">
                        <li class="list-group-item accordion-list-group-item">UserName: @user.UserName</li>
                        <li class="list-group-item accordion-list-group-item">Type: @user.Type.ToString() </li>
                        <li class="list-group-item accordion-list-group-item">Email: @user.Email </li>
                        <li class="list-group-item accordion-list-group-item">FirstName: @user.FirstName </li>
                        <li class="list-group-item accordion-list-group-item">LastName: @user.LastName </li>
                        <li class="list-group-item accordion-list-group-item">Address: @user.Address </li>
                        <li class="list-group-item accordion-list-group-item">
                            <a type="button" class="btn btn-secondary" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                            <button type="button" class="btn btn-secondary" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id">Delete</button>
                        </li>

                    </ul>

                </p>
            </div>
            }
    </div>

    <div id="Movies" class="w3-container city" style="display:none">
        <h2>Movies</h2>
        @foreach ( Movie movie in Model.movies )
            {
            <button class="accordion">@movie.Name</button>
            <div class="panel">
                <p>

                    <ul class="list-group">
                        <li class="list-group-item accordion-list-group-item">Name: @movie.Name</li>
                        <li class="list-group-item accordion-list-group-item">ReleaseDate: @movie.ReleaseDate </li>
                        <li class="list-group-item accordion-list-group-item">Duration: @movie.Duration </li>
                        <li class="list-group-item accordion-list-group-item">Director: @movie.Director </li>
                        <li class="list-group-item accordion-list-group-item">Poster: @movie.Poster </li>
                        <li class="list-group-item accordion-list-group-item">Trailer: @movie.Trailer </li>
                        <li class="list-group-item accordion-list-group-item">Storyline: @movie.Storyline </li>
                        <li class="list-group-item accordion-list-group-item">AverageRating: @movie.AverageRating </li>
                        <li class="list-group-item accordion-list-group-item">
                            <button type="button" class="btn btn-secondary" asp-controller="Users" asp-action="Edit" asp-route-id="@movie.Id">Edit</button>
                            <button type="button" class="btn btn-secondary" asp-controller="Users" asp-action="Delete" asp-route-id="@movie.Id">Delete</button>
                        </li>

                    </ul>

                </p>
            </div>
            }
    </div>

    <div id="Actors" class="w3-container city" style="display:none">
        <h2>Actors</h2>
        @foreach ( Actor actor in Model.actors )
            {
            <button class="accordion">Name: @actor.Name</button>
            <div class="panel">
                <p>

                    <ul class="list-group">
                        <li class="list-group-item accordion-list-group-item">Name: @actor.Name</li>
                        <li class="list-group-item accordion-list-group-item">
                            <button type="button" class="btn btn-secondary" asp-controller="Actors" asp-action="Edit" asp-route-id="@actor.Id">Edit</button>
                            <button type="button" class="btn btn-secondary" asp-controller="Actors" asp-action="Delete" asp-route-id="@actor.Id">Delete</button>
                        </li>

                    </ul>

                </p>
            </div>
            }
    </div>
</div>

<script>
    function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-border-red";
    }
</script>

<script src="~/js/Dashboard/accordion.js"></script>
