@using MovieStore.Models;
@model dynamic

@{
    ViewData [ "Title" ] = "Dashboard";
}
<link rel="stylesheet" href="~/css/Accordion/Style.css">

<h1>Dashboard</h1>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">User</a>
        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Movie</a>
        <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Actor</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <p>
            <a class="btn btn-secondary" asp-controller="Users" asp-action="Register">Create New</a>
        </p>

        @foreach ( User user in Model.users )
            {


            <button class="accordion">@user.UserName</button>
            <div class="panel">
                <p>

                    <ul class="list-group">
                        <li class="list-group-item">UserName: @user.UserName</li>
                        <li class="list-group-item">Type: @user.Type.ToString() </li>
                        <li class="list-group-item">Email: @user.Email </li>
                        <li class="list-group-item">FirstName: @user.FirstName </li>
                        <li class="list-group-item">LastName: @user.LastName </li>
                        <li class="list-group-item">Address: @user.Address </li>
                        <li class="list-group-item">
                            <button type="button" class="btn btn-secondary" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Edit</button>
                            <button type="button" class="btn btn-secondary" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id">Delete</button>
                        </li>

                    </ul>

                </p>
            </div>
            }
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <p>
            <a class="btn btn-secondary" asp-controller="Movies" asp-action="Create">Create New</a>
        </p>
        @foreach ( Movie movie in Model.movies )
            {
            <button class="accordion">@movie.Name</button>
            <div class="panel">
                <p>

                    <ul class="list-group">
                        <li class="list-group-item">Name: @movie.Name</li>
                        <li class="list-group-item">ReleaseDate: @movie.ReleaseDate </li>
                        <li class="list-group-item">Duration: @movie.Duration </li>
                        <li class="list-group-item">Director: @movie.Director </li>
                        <li class="list-group-item">Poster: @movie.Poster </li>
                        <li class="list-group-item">Trailer: @movie.Trailer </li>
                        <li class="list-group-item">Storyline: @movie.Storyline </li>
                        <li class="list-group-item">AverageRating: @movie.AverageRating </li>
                        <li class="list-group-item">
                            <button type="button" class="btn btn-secondary" asp-controller="Users" asp-action="Edit" asp-route-id="@movie.Id">Edit</button>
                            <button type="button" class="btn btn-secondary" asp-controller="Users" asp-action="Delete" asp-route-id="@movie.Id">Delete</button>
                        </li>

                    </ul>

                </p>
            </div>
            }
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <p>
            <a class="btn btn-secondary" asp-controller="Actors" asp-action="Create">Create New</a>
        </p>

        @foreach ( Actor actor in Model.actors )
            {
            <button class="accordion">Name: @actor.Name</button>
            <div class="panel">
                <p>

                    <ul class="list-group">
                        <li class="list-group-item">Name: @actor.Name</li>
                        <li class="list-group-item">
                            <button type="button" class="btn btn-secondary" asp-controller="Actors" asp-action="Edit" asp-route-id="@actor.Id">Edit</button>
                            <button type="button" class="btn btn-secondary" asp-controller="Actors" asp-action="Delete" asp-route-id="@actor.Id">Delete</button>
                        </li>

                    </ul>

                </p>
            </div>
            }
    </div>
</div>

<script src="~/css/Accordion/JavaScript.js"></script>
