@model MovieStore.Models.Movie
@using Microsoft.AspNetCore.Http

@{
    ViewData [ "Title" ] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Name )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Name )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.ReleaseDate )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.ReleaseDate )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Duration )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Duration )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Director )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Director )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Poster )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Poster )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Trailer )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Trailer )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Storyline )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Storyline )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.AverageRating )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.AverageRating )
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Reviews" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Headline</label>
                <input name="Headline" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Content</label>
                <input name="Content" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Rating</label>
                <input name="Rating" class="form-control" />
            </div>
            <input name="movieid" value="@Model.Id" type="hidden" />
            <input name="userid" value="@Context.Session.GetString( "UserId" )" type="hidden" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@{ if ( ViewBag.reviews != null )
        foreach ( Review review in ViewBag.reviews )
            {
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">@review.Author.UserName</h5>
                    <p class="card-text">@review.Content</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
            }
}




<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
