
@model MovieStore.Models.Movie
@using Microsoft.AspNetCore.Http

@{
    ViewData [ "Title" ] = "Details";
}
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!-- single -->
<link rel="stylesheet" href="~/css/reviewSearch.css">
<link rel="stylesheet" href="~/css/MovieDetails/detailsStyle.css">

<div class="single-page-agile-main">
    <div class="container">
        <div class="single-page-agile-info">
            <!-- /movie-browse-agile -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 video-grid-single-page-agileits">
                        <img src=@Model.Poster alt="" class="img-responsive" id="single-poster" />
                    </div>
                    <div class="col-md-8 coloum">
                        <p class="fexi_header">@Model.Name</p>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="profile-details">
                                    Story Line :
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="profile-details-content">
                                    @Model.Storyline
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="profile-details">
                                    Date of Release :
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="profile-details-content">
                                    @Model.ReleaseDate.ToShortDateString()
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="profile-details">
                                    Genres :
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="profile-details-content">
                                    @{ if ( ViewBag.genres != null )
                                            {
                                            for ( int i = 0 ; i < ViewBag.genres.Count - 1 ; i++ )
                                                {
                                                var genre = ViewBag.genres [ i ].Type.ToString();
                                                <a href="genres.html" style="color:black">@genre | </a>
                                                }
                                            var genreLast = ViewBag.genres [ ViewBag.genres.Count - 1 ].Type.ToString();
                                            <a href="genres.html" style="color:black">@genreLast</a>
                                            }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="profile-details">
                                    Actors :
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="profile-details-content">
                                    @{ if ( ViewBag.actors != null )
                                            {
                                            for ( int i = 0 ; i < ViewBag.actors.Count - 1 ; i++ )
                                                {
                                                var actor = ViewBag.actors [ i ].Name;
                                                <a href="genres.html" style="color:black">@actor | </a>
                                                }
                                            var actorLast = ViewBag.actors [ ViewBag.actors.Count - 1 ].Name;
                                            <a href="genres.html" style="color:black">@actorLast</a>
                                            }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="profile-details">
                                    Star Rating :
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="profile-details-content">
                                    @{

                                        int intAverageRating = (int) Math.Floor( Model.AverageRating ); // 7.3 -> 7
                                        for ( int i = 0 ; i < intAverageRating ; i++ ) // 7
                                            {
                                            <span href="#"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            }
                                        if ( Model.AverageRating - intAverageRating > 0 ) // 7.5 - 7 = 0.5
                                            {
                                            <span href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
                                            }
                                        else
                                            {
                                            <span href="#"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            }
                                        for ( int i = 1 ; i < 10 - intAverageRating ; i++ ) //10-7 = 3
                                            {
                                            <span href="#"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            }
                                    }
                                </div>
                            </div>
                        </div>
            }
                    </div>
                </div>
                <div class="song-grid-right">
                    <div class="share">
                        <h5>Share this</h5>
                        <div class="single-agile-shar-buttons">
                            <ul>
                                <li>
                                    <div class="fb-like" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                                    <script>
                                        (function (d, s, id) {
                                            var js, fjs = d.getElementsByTagName(s)[0];
                                            if (d.getElementById(id)) return;
                                            js = d.createElement(s); js.id = id;
                                            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }(document, 'script', 'facebook-jssdk'));</script>
                                </li>
                                <li>
                                    <div class="fb-share-button" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fw3layouts&amp;src=sdkpreparse">Share</a></div>
                                </li>
                                <li class="news-twitter">
                                    <a href="https://twitter.com/w3layouts" class="twitter-follow-button" data-show-count="false">Follow w3layouts</a>
                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </li>
                                <li>
                                    <a href="https://twitter.com/intent/tweet?screen_name=w3layouts" class="twitter-mention-button" data-show-count="false">Tweet to w3layouts</a>
                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </li>
                                <li>
                                    <!-- Place this tag where you want the +1 button to render. -->
                                    <div class="g-plusone" data-size="medium"></div>

                                    <!-- Place this tag after the last +1 button tag. -->
                                    <script type="text/javascript">
                                        (function () {
                                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                            po.src = 'https://apis.google.com/js/platform.js';
                                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                        })();
                                    </script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>

                <div class="s01">
                    <form>
                        <fieldset>
                            @*<legend>Search Review:</legend>*@
                            <h1 style="color:black ">Search Review:</h1>
                        </fieldset>
                        <div class="inner-form">

                            <div class="input-field second-wrap">
                                <input id="fromYears" type="text" placeholder="From" />
                            </div>

                            <div class="input-field second-wrap">
                                <input id="toYears" type="text" placeholder="To" />
                            </div>

                            <div class="input-field second-wrap">
                                <input id="user" type="text" placeholder="User" />
                            </div>

                            <div class="input-field second-wrap">
                                <input id="content" type="text" placeholder="Content" />
                            </div>

                        </div>
                    </form>
                </div>

                <div class="clearfix"> </div>

                <div class="all-comments">
                    @if ( Context.Session.GetString( "Type" ) != null )
                        {
                        <div class="all-comments-info">
                            <a href="#">Comments</a>
                            <div class="agile-info-wthree-box">
                                <form asp-controller="Reviews" asp-action="Create">
                                    <input type="text" placeholder="Headline" name="Headline">
                                    <input type="text" placeholder="Content" name="Content">
                                    <input type="text" placeholder="Rating" name="Rating">
                                    <input name="movieid" value="@Model.Id" type="hidden" />
                                    <input name="userid" value="@Context.Session.GetString( "UserId" )" type="hidden" />
                                    <input type="submit" value="SEND">
                                    <div class="clearfix"> </div>
                                </form>
                            </div>
                        </div>
                        }

                    <div class="media-grids">
                        @*All the comments for Movie*@
                        @{ if ( ViewBag.reviews != null )
                                foreach ( Review review in ViewBag.reviews )
                                    {
                                    <div class="media">
                                        <h5>@review.Headline</h5>
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/images/user.jpg" title="One movies" alt=" " />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p>@review.Content</p>
                                            <div>Written by: @review.Author.UserName</div>
                                            <div>Published: @review.Published.ToShortDateString()</div>
                                            <div>Rating: @review.Rating</div>
                                        </div>
                                    </div>
                                    } }
                    </div>
                </div>
            </div>



            <div class="clearfix"> </div>
        </div>

    </div>
    <!-- //w3l-latest-movies-grids -->
</div>

<script src="~/js/reviewSearch.js"></script>
<script src="~/js/jquery.dotdotdot.min.js"></script>

